html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 4px;
}

.image-container {
    margin: 10px 20%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 25px;
    }

    .image-container {
        margin: 10px;
    }

    .image-container img {
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        width: 40%;
        position: relative;
        left: 40px;
    }
}